# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Entorno virtual
venv/
env/

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid
